.button {
  text-align: center;
  height: 50px;
  display: flex;
  width: 200px;
  margin: 0 0 10px 0;
  outline: none;
  cursor: pointer;
  background: white;
  border: 1px solid grey;
  border-radius: 15px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: black;
  align-items: center;
}

.button:hover {
  opacity: 0.7;
}

.label {
  flex-grow: 1;
  text-align: center;
  margin-left: 15px;
}

.disabledButton {
  text-align: center;
  opacity: 0.4;
}