.button {
  height: 50px;
  display: flex;
  width: 200px;
  margin: 0 0 10px 0;
  outline: none;
  cursor: pointer;
  background: white;
  border: 1px solid grey;
  border-radius: 15px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: black;
  align-items: center;
}

.button:hover {
  opacity: 0.7;
}

.label {
  flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

.checkContainer, .checkContainerFilled {
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  box-sizing: border-box;
  border-radius: 15px;
  margin-right: 15px;
  min-width: 25px;
}

@media (max-width: 320px) {
  .checkContainer, .checkContainerFilled {
    margin-right: 5px;
 }
}

.checkContainerFilled {
  border: 1px solid blue;
}

.checkFilled {
  width: 23px;
  height: 23px;
  background: blue;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 15px;
}