.fieldWrapper {
  width: 100%;
  max-width: 100%;
}

.fieldWrapperFilled .input {
  padding: 30px 15px 10px;
  font-size: 18px;
}

.fieldWrapperFilled .label {
  transform: translateY(-100%);
  font-size: 14px;
  letter-spacing: 0.6px;
}

.inputWrapper {
  position: relative;
}

.input {
  height: 60px;
  width: 100%;
  max-width: 100%;
  color: var(--inputNormalColor, red);
  border: 1px solid var(--inputNormalBorderColor, grey);
  background-color: var(--inputNormalBackgroundColor, white);
  border-radius: var(--inputNormalBorderRadius, 5px);
  padding: 0 15px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 20px;
  -webkit-appearance: none;
  position: relative;
  z-index: 5;
}

.input:focus {
  border-color: var(--inputFocusBorderColor, blue);
  outline: 0;
}

.input:-webkit-autofill, .input:-moz-autofill {
  padding: 30px 15px 10px;
  font-size: 18px;
}

.inputNext {
  border-color: var(--nextIndicatorBorderColor, blue);
  box-shadow: 0 0 0 4px var(--nextIndicatorBackgroundColor, none);
}

.inputError {
  color: var(--inputErrorColor, inherit);
  background-color: var(--inputErrorBackgroundColor, white);
  border: 2px solid var(--inputErrorBorderColor, mandy);
}

.input:focus + .focusIndicator {
  opacity: 1;
}

.label {
  position: absolute;
  z-index: 10;
  padding-left: 14px;
  margin-left: 2px;
  transform: translateY(-50%);
  top: 50%;
  height: 20px;
  transition: all 100ms ease-out;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.input:-webkit-autofill ~ .label, .input:-moz-autofill ~ .label {
  transform: translateY(-100%);
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 15px;
}

.errorIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
  z-index: 10;
}

.error {
  margin-top: 6px;
}

.optional {
  opacity: 0.5;
  font-size: 14px !important;
}
