.nameField {
  max-width: 300px;
  margin: 0 auto;
}

.birthdateField {
  max-width: 300px;
  margin: 0 auto;
}

.imageField {
  max-width: 300px;
  margin: 0 auto;
}

.selectField {
  max-width: 300px;
  margin: 0 auto;
}

.radioButton {
  align-self: center;
  margin-right: 5px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
}

@media (min-width: 960px) {
  .radioGroup {
    flex-direction: row;
    margin: 0;
 }
}

.submitBtn {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}