.appContainer {
  display: flex;
  flex-direction: column;
  transition: all 300ms;
}

.appContainerDarkTheme {
   filter: invert(1) hue-rotate(180deg);
   transition: all 300ms;
}

.appTitle {
  text-align: center;
  margin: 0;
  background-color: lightgray;
  padding: 30px;
}

.themeIcon {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 40px;
  right: 20px;
}