.imageContainer {
 max-width: 200px;
 margin-top: 30px;
}

.container {
  max-width: 300px;
  margin: 0 auto;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.label {
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  background: white;
  border: 1px solid grey;
  border-radius: 15px;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 0.5px;
  color: black;
  align-items: center;
}